
$light: -1rem -1rem 1.5rem rgba(white,0.5)
$dark: 1rem 1rem 1.5rem rgba(70,70,70,0.12)
$bloater: $light, $dark
$digger: inset $light, inset $dark
.container
  width: 60rem
  height: 30rem
  background: #ececec
  display: grid
  place-items: center

.btn
  height: 20rem
  width: 20rem
  appearance: none
  box-shadow: $bloater
  border-radius: 50%
  border: .8rem solid #ececec
  outline: none
  cursor: pointer

.checked
  box-shadow: $bloater,$digger

.icon
  width: 8rem
  height: 8rem
  color: #7a7a7a

.clicked
  color: #15e38a
